.vs/
*/.vs/
CallManagement/.vs/CallManagement/v16/.suo
CallManagement/CallManagement/bin/CallManagement.dll
CallManagement/CallManagement/bin/CallManagement.pdb
CallManagement/CallManagement/obj/Debug/CallManagement.csproj.AssemblyReference.cache
CallManagement/CallManagement/obj/Debug/CallManagement.dllCallManagement/CallManagement/obj/Debug/CallManagement.pdb
