@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout.cshtml";


}

<h2 class="text-center">Welcome To Call Management</h2>

<h2 class="content-heading text-black">Incident <small style="color:black;">(Access here to create or search your incident)</small></h2>


<div class="row">


    <div class="col-sm-6 col-lg-3">
        <div class="block">
            <div style="height:165px;" class="block-content block-content-full ribbon ribbon-modern ribbon-primary border-black-op bg-default">
                <a href="@Url.Action("CreateIncident","Incident")">
                    <div class="text-center push-20-t push">
                        <i class="fa fa-plus fa-3x text-white push"></i>
                        <h3 class="h5" style="color:white;">Create Incident</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="block">
            <div style="height:165px;" class="block-content block-content-full ribbon ribbon-modern ribbon-primary border-black-op bg-flat">
                <a href="@Url.Action("AllIncident","Incident")">
                    <div class="text-center push-20-t push">
                        <i class="fa fa-search fa-3x text-white push"></i>
                        <h3 class="h5" style="color:white;">Search Incident</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <h3 class="h5 font-w600 text-uppercase push-10"><i class="fa fa-check text-primary push-5-r"></i> Incident</h3>
        <p>The Incident is used to request repairs to applications or equipment that you already have and started to give a problem, incidents are evaluated by level of urgency that helps us to deal with the priority of each user.</p>
    </div>

</div>

<h2 class="content-heading text-black">Request <small style="color:black;">(Access here to create or search your resquest)</small></h2>

<div class="row">

    <div class="col-sm-6 col-lg-3">
        <div class="block">
            <div style="height:165px;" class="block-content block-content-full ribbon ribbon-modern ribbon-primary border-black-op bg-primary">
                <a href="@Url.Action("CreateRequest","Request")">
                    <div class="text-center push-20-t push">
                        <i class="fa fa-plus fa-3x text-white push"></i>
                        <h3 class="h5" style="color:white;">Create Request</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="block">
            <div style="height:165px;" class="block-content block-content-full ribbon ribbon-modern ribbon-primary border-black-op bg-flat">
                <a href="@Url.Action("AllRequest","Request")">
                    <div class="text-center push-20-t push">
                        <i class="fa fa-search fa-3x text-white push"></i>
                        <h3 class="h5" style="color:white;">Search Request</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <h3 class="h5 font-w600 text-uppercase push-10"><i class="fa fa-check text-primary push-5-r"></i> Request</h3>
        <p>The service request is used to request new software applications as licenses, access to applications, something like that, or, if necessary, new hardware equipment, as a mouse, keyboard, computer, laptop or any other necessary equipment.</p>
    </div>


</div>
