@{
    ViewBag.Title = "IndexNew";
    Layout = "~/Views/Layout.cshtml";
    var saldo = ViewBag.saldo;
}

<style>
    th {
        color: white;
        text-align: center;
    }

    td {
        text-align: center;
    }
</style>

<h2>Insert New User</h2>
<hr />

<!---<input type="hidden" id="expense" name="Expense" value="@Model"/>-->

<div class="row">
    <div class="col-xs-4">
        <h4>User Informations</h4>
    </div>
</div>
<br />
<form action="@Url.Action("Save","Employee")" method="post" id="formLabel" enctype="multipart/form-data">
    <div class="row">
        <div class="col-xs-5">
            <label>Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="Name" id="Name" required autocomplete="off" />
        </div>
        <div class="col-xs-5">
            <label>Department <span class="text-danger">*</span></label>
            <select typeof="text" class="form-control" required autocomplete="off">
                <option value="0" disabled="" selected="">Choose</option>
                <option value="RH">HR</option>
                <option value="Finance">Finance</option>
                <option value="Security">Security</option>
                <option value="Maintenence">Maintenence</option>
                <option value="Stock">Stock</option>
                <option value="Reception">Reception</option>
            </select>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="row">
        <div class="col-md-2">
            <label control-label" for="val-currency">Login <span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="SerialNumber" id="SerialNumber" required autocomplete="off" />
        </div>
        <div class="col-xs-2">
            <label>Password <span class="text-danger">*</span></label>
            <input name="Password" id="Password" class="form-control" type="password" />
        </div>
        <div class="col-xs-2">
        </div>
        <div style="margin-left:-200px" class="col-xs-2">
            <label for="txtLabelName" id="labelSelect">User Type <span class="text-danger">*</span></label>
            <select type="text" class="form-control" name="txtPriority" id="txtPriority" required autocomplete="off">
                <option value="Choose" disabled="" selected="">Choose</option>
                <option value="0">technician</option>
                <option value="1">Default User</option>
            </select>
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-xs-4">
            <button id="btnSave" class="btn btn-success">Save <i class="fa fa-save"></i></button>
            <a class="btn btn-info" href="@Url.Action("Index","StartView")">Back <i class="fa fa-undo"></i></a>
        </div>
    </div>
</form>
<script src="~/Scripts/Expense/IndexNew.js"></script>
