
@{
    ViewBag.Title = "Login";
    Layout = null;
    CallManagement.Models.ViewModel.ModelEmployee modelEmployees = ViewBag.ModelEmplyee;


}

<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-focus" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="~/assets/img/favicons/favicon.png">
    <link rel="icon" type="image/png" href="~/assets/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="~/assets/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/assets/img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="~/assets/img/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="~/assets/img/favicons/favicon-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" sizes="57x57" href="~/assets/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/assets/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/assets/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/assets/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/assets/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/favicons/apple-touch-icon-180x180.png">
    <!-- END Icons -->
    <!-- Stylesheets -->
    <!-- Web fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
    <!-- Bootstrap and Jabil Bootstrap CSS framework -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" id="css-main" href="~/assets/css/jabilbootstrap.css">
    <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
    <!-- <link rel="stylesheet" id="css-theme" href="assets/css/themes/nypro.min.css"> -->
    <!-- END Stylesheets -->
</head>
<body>
    <!-- Login Content -->
    <div class="content overflow-hidden">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                <!-- Login Block -->
                <div class="block block-themed animated fadeIn">
                    <div class="block-header bg-primary">
                        <ul class="block-options">
                            @*<li>
                                    <a href="base_pages_reminder.html">Forgot Password?</a>
                                </li>*@
                            @*<li>
                                    <a href="base_pages_register.html" data-toggle="tooltip" data-placement="left" title="New Account"><i class="si si-plus"></i></a>
                                </li>*@
                        </ul>
                        <h3 class="block-title">Login</h3>
                    </div>
                    <div class="block-content block-content-full block-content-narrow">
                        <!-- Login Title -->
                        <h1 class="h2 font-w600 push-30-t push-5">Call Management              <i  class="fa fa-desktop" > </i></h1>
                        <p>Welcome, please login.</p>
                        <!-- END Login Title -->
                        <!-- Login Form -->
                        <!-- jQuery Validation (.js-validation-login class is initialized in js/pages/base_pages_login.js) -->
                        <!-- For more examples you can check out https://github.com/jzaefferer/jquery-validation -->
                        <form id="formSalvar" class="js-validation-login form-horizontal push-30-t push-50" method="post">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="form-material form-material-primary floating">
                                        <label for="login-username">Username</label>
                                        <br />
                                        <input class="form-control" type="text" id="SerialNumber" autocomplete="off" name="SerialNumber" autofocus>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="form-material form-material-primary floating">
                                        <label for="login-password">Password</label>
                                        <br />
                                        <input class="form-control" type="password" id="Password" name="Password">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                              
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <button id="btn" class="btn btn-block btn-primary" type="submit"><i class="si si-login pull-right"></i> Log in</button>
                                    </div>
                       
                            </div>

                            <div>
                                @{
                                    if (TempData["Erro"] != null && (bool)TempData["Erro"] == true)
                                    {
                                        <div class="alert alert-danger alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <h3 class="font-w300 push-15">Erro</h3>
                                            <p><a class="alert-link" href="javascript:void(0)">Seu login não foi encontrado, favor contatar o adm dessa porra</a></p>
                                        </div>
                                    }
                                }
                            </div>
                            <br />
                            <br />
                            <div class="row" style="align-items:center;">
                                <label style="color:red;" class="text-black text-center"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  <b>Any system problems, please contact the admin        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></b> Phone:4002-8922</label>
                            </div>
                        </form>
                        <!-- END Login Form -->
                    </div>
                </div>
                <!-- END Login Block -->
            </div>
        </div>
    </div>
    <!-- END Login Content -->
    <!-- Login Footer -->
    <div class="push-10-t text-center animated fadeInUp">
        <small class="text-muted font-w600"> &copy; Web site developed by : Edvan Sancho (Back-end-DB) / Leticia do Clutch (Back-end) / Kevin Marinho (Front-end) / Viviane Serrão (Teste/DOC and Quality) @DateTime.Now.ToString("dd-MM-yyyy")</small>
    </div>
    <!-- END Login Footer -->
    <!-- Jabil Bootstrap Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
    <script src="~/assets/js/core/jquery.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>
    <script src="~/assets/js/core/jquery.slimscroll.min.js"></script>
    <script src="~/assets/js/core/jquery.scrollLock.min.js"></script>
    <script src="~/assets/js/core/jquery.appear.min.js"></script>
    <script src="~/assets/js/core/jquery.countTo.min.js"></script>
    <script src="~/assets/js/core/jquery.placeholder.min.js"></script>
    <script src="~/assets/js/core/js.cookie.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <!-- Page JS Plugins -->
    <script src="~/assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>
    <!-- Page JS Code -->
    <script src="~/assets/js/pages/base_pages_login.js"></script>
</body>
</html>