
@{
    ViewBag.Title = "IncidentNew";
    Layout = "~/Views/Layout.cshtml";
}

<style>
    th {
        color: white;
        text-align: center;
    }

    td {
        text-align: center;
    }
</style>

<h2>Create New Incident</h2>
<hr />
<div class="row">
    <div class="col-xs-4">
        <h4>Incident Informations</h4>
    </div>
</div>
<br />
<form action="@Url.Action("Save","Incident")" method="post" id="formLabel" enctype="multipart/form-data">
    <input id="dataProperties" name="DataProperties" hidden />
    <div class="row">
        <div class="col-xs-4">
            <label>Requested By</label>
            <input type="text" class="form-control" name="Caller" id="Caller" required autocomplete="off" />
        </div>

        <div class="col-xs-2">
            <label for="txtLabelName" id="labelSelect">meu label legal</label>
            <select type="text" class="form-control" name="LabelName" id="txtLabelName" required autocomplete="off">
                <option value="0" disabled="" selected="">Choose</option>
                <option value="edvan">Sim</option>
                <option value="let">Não</option>
            </select>
        </div>
    </div>
    <br />

    <br />

    <div class="row">
        <div class="col-xs-3">
            <label>Type</label>
            <select type="text" class="form-control" name="LabelName" id="txtLabelType" required autocomplete="off">
                <option value="0" disabled="" selected=""></option>
                <option value="1">Hardware Computer</option>
                <option value="2">Software Computer</option>
            </select>
        </div>
        <div class="col-xs-6">
            <label>Short Description</label>
            <input type="text" class="form-control" id="Description" name="Description" required autocomplete="off"  />
        </div>
        <div class="col-xs-2">
            <button type="submit" style="margin-left:-10px;margin-top:24px;" class="btn btn-primary" id="btnAdd" >Create <i class="fa fa-plus"></i></button>
        </div>
    </div>
</form>
<br />

<script src="~/Scripts/Incident/CreateIncident.js"></script>


